[user]
	name = Utsav Goyal
	email = goyalutsav2004@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main
[push]
	default = current
[pull]
	rebase = false
[color]
	ui = auto
[alias]
	graph = log --all --graph --decorate --oneline
	last = log -1 HEAD
